</div>
</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Takaisin ylös</a>
        </p>
        <p class="mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima veniam fuga sunt! Nihil repellendus mollitia consequatur nemo excepturi consequuntur ipsum quis numquam provident, eum quaerat odio dicta quae minus ea.</p>
    </div>
</footer>
</body>

</html>