<div class="col">
    <div class="card shadow-md bg-dark text-light">
        <div class="card-body">
            <div class="overflow-auto bg-black  p-2" style="max-height: 400px;">
                <pre><code><%- body  %></code></pre>
            </div>
            <p class="card-text p-2">
                <%= description  %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group ">

                    <a class="btn btn-sm btn-outline-secondary bg-light m-1 text-black" href="/paste/<%= id  %>">Avaa</a>
                    <form action="/delete/<%= id  %>" method="get">
                        <button type="submit" class="btn btn-sm btn-outline-secondary bg-light m-1 text-black">Poista</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>